!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge,chrome=1', 'http-equiv': 'X-UA-Compatible'}/

    %title Taylor Stackpole

    %meta{content: '', name: 'description'}/
    %meta{content: 'width=device-width', name: 'viewport'}/

    %link{href: '../../styles/main.css', rel: 'stylesheet'}/

    %script{src: '../../bower_components/jquery/jquery.js'}/
    %script{src: '../../bower_components/bower-skrollr/skrollr.js'}
    %script{src: '../../scripts/main.js'}/

  %body

    / The background image of the cogs spinning.
    / These go fist to be on the bottom of the z-index.
    %img.gear-background1{src: "../../images/gear3.svg", data-_entry: "top: -350px; transform:rotate(0deg);", data-_cog_end: "top: -450px; transform:rotate(-180deg);"}
    %img.gear-background2{src: "../../images/gear4.png", data-_entry: "top: -175px; transform:rotate(0deg);", data-_cog_end: "top: -275px; transform:rotate(-180deg);"}
    %img.gear-background3{src: "../../images/gear3.svg", data-_entry: "top: 150px; transform:rotate(0deg);", data-_cog_end: "top: 50px; transform:rotate(180deg);"}
    %img.gear-background4{src: "../../images/gear4.png", data-_entry: "top: 325px; transform:rotate(0deg);", data-_cog_end: "top: 225px; transform:rotate(-180deg);"}
    %img.gear-background5{src: "../../images/gear5.png", data-_entry: "top: -855px; transform:rotate(-5deg);", data-_cog_end: "top: -955px; transform:rotate(-96deg);"}

    / The directory items.
    #directory
      .menu-family{data-_entry: "margin-bottom: -100px;", data-_menu_achievements: "margin-bottom: 100px;", data-_menu_family: "margin-bottom: 20px;" }
        %a.family My Family

      .menu-hobbies{data-_menu_achievements: "margin-bottom: -100px", data-_menu_hobbies: "margin-bottom: 100px;", data-_menu_family: "margin-bottom: 20px;"}
        %a.hobbies Hobbies

      .menu-achievements{data-_menu_hobbies: "margin-bottom: -100px;", data-_menu_family: "margin-bottom: 100px;"}
        %a.achievements Achievements


    #skrollr-body
      / The landing page.
      #welcome
        .socials
          %a{href: 'https://www.github.com/taystack'}
            %img{src: '../../images/octocat.png'}

          %a{href: 'https://plus.google.com/112595915308191901222/posts/p/pub'}
            %img{src: '../../images/google_plus.png'}

          %a{href: 'http://www.linkedin.com/pub/taylor-stackpole/62/b87/71b'}
            %img{src: '../../images/linkedin.png'}

        .greeting
          %img#me{src: '../../images/taylor_stackpole.JPG'}
          %h1 Hi, I'm Taylor
          %p Scroll down to see what I'm about.

        .footer
