@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
body, body * {
  font-family: "Droid Sans", sans-serif; }
  body h1, body * h1 {
    font-size: 20pt; }
  body form, body * form {
    margin-top: 20px;
    position: relative; }
    body form label, body * form label {
      font-size: 12pt; }

.gear-background, .gear-background1, .gear-background3 {
  position: fixed;
  height: 700px;
  opacity: 0.25; }

.gear-background1 {
  left: -350px; }

.gear-background2 {
  position: fixed;
  height: 350px;
  opacity: 0.25;
  left: -175px; }

.gear-background3 {
  left: 41px; }

.gear-background4 {
  position: fixed;
  height: 350px;
  opacity: 0.25;
  left: 210px; }

.gear-background5 {
  position: fixed;
  height: 1630px;
  opacity: 0.25;
  top: -855px;
  left: 560px; }

.title-bar {
  height: 20px;
  background: #ccc;
  position: fixed;
  right: 0px; }

#welcome {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: blue;
  opacity: 0.9;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

#welcome .socials {
  display: block;
  width: 100%; }
  #welcome .socials img {
    height: 40px;
    opacity: 0.5; }
  #welcome .socials img:hover {
    opacity: 0.8; }

#welcome .greeting {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #welcome .greeting #me {
    height: 200px;
    border-radius: 100px;
    margin: 0 auto;
    display: block; }
  #welcome .greeting h1, #welcome .greeting p {
    color: white;
    cursor: default;
    text-align: center; }

#directory {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }

#directory [class*="menu-"] {
  border-radius: 2px;
  height: 90px;
  width: 500px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.42);
  margin-top: 5px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  #directory [class*="menu-"]:last-child {
    margin-bottom: 20px; }
  #directory [class*="menu-"] > a {
    padding-right: 1em;
    font-size: 33pt;
    letter-spacing: 2px; }

.menu-family {
  background: red;
  color: #fff;
  margin-left: 40px; }

.menu-hobbies {
  background: yellow;
  color: #333;
  margin-left: 30px; }

.menu-achievements {
  color: #fff;
  background: green;
  margin-left: 50px; }

@-webkit-keyframes floating_one {
  from {
    -webkit-transform: translate(0, 0px); }

  65% {
    -webkit-transform: translate(0, 10px); }

  to {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes floating_one {
  from {
    -moz-transform: translate(0, 0px); }

  65% {
    -moz-transform: translate(0, 10px); }

  to {
    -moz-transform: translate(0, 0px); } }
@keyframes floating_one {
  from {
    transform: translate(0, 0px); }

  65% {
    transform: translate(0, 10px); }

  to {
    transform: translate(0, 0px); } }
