body, body * {
  font-family: $default-font-family;
  h1 {
    font-size: 20pt;
  }
  form {
    margin-top: 20px;
    position: relative;
    label {
      font-size: 12pt;
    }
  }
}

// Gear animation:
// ---------------
.gear-background {
  position: fixed;
  height: 700px;
  opacity: 0.25;
}
.gear-background1 {
  @extend .gear-background;
  left: -350px;
}
.gear-background2 {
  position: fixed;
  height: 350px;
  opacity: 0.25;
  left: -175px;
}
.gear-background3 {
  @extend .gear-background;
  left: 41px;
}
.gear-background4 {
  position: fixed;
  height: 350px;
  opacity: 0.25;
  left: 210px;
}
.gear-background5 {
  position: fixed;
  height: 1630px;
  opacity: 0.25;
  top: -855px;
  left: 560px;
}

.title-bar {
  height: 20px;
  background: #ccc;
  position: fixed;
  right: 0px;
}

#welcome {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: blue;
  opacity: 0.9;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items(center);
}

#welcome .socials {
  display: block;
  width: 100%;
  img {
    height: 40px;
    opacity: 0.5;
    // @include transition(opacity, linear, 150ms);
  }
  img:hover {
    opacity: 0.8;
  }
}

#welcome .greeting {
  @include user-select(none);
  #me {
    height: 200px;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
  }
  h1, p {
    color: white;
    cursor: default;
    text-align: center;
  }
}

#directory {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-end);
}

#directory [class*="menu-"] {
  border-radius: 2px;
  height: 90px;
  width: 500px;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.42);
  margin: {
    top: 5px;
    bottom: 5px;
  }
  &:last-child {
    margin-bottom: 20px;
  }
  > a {
    padding-right: 1em;
    font-size: 33pt;
    letter-spacing: 2px;
  }
  @include display(flex);
  @include justify-content(flex-end);
  @include align-items(center);
}

.menu-family {
  background: red;
  color: #fff;
  margin-left: 40px;
}
.menu-hobbies {
  background: yellow;
  color: #333;
  margin-left: 30px;
}
.menu-achievements {
  color: #fff;
  background: green;
  margin-left: 50px;
}

  // @include animation(floating_three ease 2s infinite);
@include keyframes(floating_one) {
  from {
    @include transform(translate(0, 0px));
  }
  65% {
    @include transform(translate(0, 10px));
  }
  to {
    @include transform(translate(0, -0px));
  }
}
