.hoverAppear {
  opacity: 0.25;
  cursor: pointer;
  transition: opacity 80ms;
}
.hoverAppear.moreOpacity {
  opacity: 0.75;
}

.hoverAppear:focus,
.hoverAppear:hover {
  opacity: 0.75;
}

.hoverAppear.moreOpacity:focus,
.hoverAppear.moreOpacity:hover {
  opacity: 1;
}


.focusAppear {
  opacity: 0.25;
  cursor: pointer;
  transition: opacity 80ms;
}
.focusAppear.moreOpacity {
  opacity: 0.75;
}

.focusAppear:focus {
  opacity: 0.75;
}

.focusAppear.moreOpacity:focus {
  opacity: 1;
}
