/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .noMobile {
    display: none;
  }

  body {
    font-size: 13px;
  }

  .Layer h1 {
  }

  .Layer h1,
  .Layer h2,
  .Layer h3 {
    margin: 35px 0;
    text-align: center;
  }

  p {
    text-align: justify;
  }

  #Header {
    flex-direction: column;
  }

  .TabItem {
    font-size: 1.5em;
  }

  #Tabs {
    flex-direction: row;
  }

  .Card {
    flex-flow: row wrap;
  }

  .Card.rightPad {
    flex-flow: wrap-reverse !important;
  }

  .Card .CardSide {
    padding: 0 2vw;
    /* padding-top: 10vh; */
    flex-basis: 100%;
  }

  .Card .CardSide img {
    max-width: 90vw;
  }

  .ContactForm {
    width: 100vw;
  }

  .Button {
    min-width: auto;
    padding: 20;
  }

  .CommunityIcons .card {
    justify-content: center;
  }

  /* .MergeIcon {
    margin-right: 0px;
  }

  .MergeIcon:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .MergeIcon:not(:first-child) {
    border-radius: 0px;
  }

  .MergeIcon:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  } */

  .MergeIcon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .SocialIcon {
    height: 30px;
    width: 30px;
  }
}
