body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.7em;
  overflow-x: hidden;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-size: 1.2em;
  line-height: 1.9em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.9em;
}

h1 {
  font-size: 2em;
}

p {
  line-height: 1.7em;
  font-size: 1.5em;
}

a {
  color: #4982e8;
  text-decoration: none;
}

code {
  background: rgba(255,255,255,0.1);
  padding: 0 4px;
  border-radius: 2px;
  display: inline-block;
}

.TabItem {
  font-size: 1.5em;
}

.Card {
  flex-flow: row;
}

.Card .CardSide {
  box-sizing: border-box;
  flex-basis: 50%;
  padding: 0 2vw;
}

.Card .CardSide img {
  /* max-width: 38vw; */
  width: 100%;
  max-height: 50vh;
}

.Card.single .CardSide {
  flex-basis: 100%;
}

.CardSide.left {
  text-align: right;
}

.ContactForm {
  width: 500px;
}

.Button {
  font-size: 1.5em;
  min-width: 200px;
  padding: 20px;
}

.faded {
  opacity: 0.5;
  font-size: 1.2em;
}

.hidden {
  display: none;
  opacity: 0;
}

.CommunityIcons .card {
  justify-content: flex-end;
}

.MergeIcon {
  margin-right: 20px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 10px;
}

.SocialIcon {
  height: 40px;
  width: 40px;
}
